@if (!codeSent) {
  <form #sendCodeForm="ngForm" class="auth-form" (ngSubmit)="sendCode()">
    <div class="auth-form-header">
      <omni-auth-ui-mat-button
        type="secondary"
        [icon]="content().common.icons.back"
        (click)="authRoute.nextStep('login')"
      >
        {{ content().common.backToSignInLabel }}
      </omni-auth-ui-mat-button>
    </div>

    <div class="auth-form-body">
      <omni-auth-ui-mat-message class="auth-form-hint" icon="email">
        <span class="title">{{ content().resetPassword.sendCodeMessage }}</span>
      </omni-auth-ui-mat-message>

      <omni-auth-ui-mat-input
        #email="ngModel"
        name="email"
        required
        type="text"
        [label]="content().common.emailLabel"
        [ngModel]="authRoute.currentEmail()"
        [pattern]="emailPattern"
        [placeholder]="content().common.emailPlaceholder"
        (ngModelChange)="user.email = $event"
      >
        @switch (true) {
          @case (email.control.hasError("required")) {
            <ng-container>{{ content().common.emailErrorRequiredText }}</ng-container>
          }
          @case (email.control.hasError("pattern")) {
            <ng-container>{{ content().common.emailErrorPatternText }}</ng-container>
          }
        }
      </omni-auth-ui-mat-input>
      <omni-auth-ui-mat-print-error source="forgotPassword" [content]="content()"/>
    </div>

    <div class="auth-form-footer">
      <omni-auth-ui-mat-button
        buttonType="submit"
        [disabled]="!!sendCodeForm.invalid"
        [loading]="processing()"
      >{{ content().resetPassword.submitLabel }}
      </omni-auth-ui-mat-button>
    </div>
  </form>
} @else {
  <form #sendCode="ngForm" class="auth-form" (ngSubmit)="onSubmit()">
    <div class="auth-form-header">
      <omni-auth-ui-mat-button
        type="secondary"
        [icon]="content().common.icons.back"
        (click)="authRoute.nextStep('login')"
      >
        {{ content().common.backToSignInLabel }}
      </omni-auth-ui-mat-button>
    </div>

    <div class="auth-form-body">
      <omni-auth-ui-mat-message class="auth-form-hint" icon="email">
        <span class="title">{{ content().resetPassword.sendCodeMessage }}</span>
      </omni-auth-ui-mat-message>

      <omni-auth-ui-mat-input
        #code="ngModel"
        name="code"
        required
        type="text"
        [label]="content().common.codeLabel"
        [placeholder]="content().common.codePlaceholder"
        [(ngModel)]="user.code"
      >
        <ng-container>
          @switch (true) {
            @case (code.control.hasError("required")) {
              <ng-container>{{ content().common.codeErrorRequiredText }}</ng-container>
            }
            @case (code.control.hasError("pattern")) {
              <ng-container>{{ content().common.codeErrorRequiredText }}</ng-container>
            }
          }
        </ng-container>
      </omni-auth-ui-mat-input>

      <omni-auth-ui-mat-input
        #password="ngModel"
        name="password"
        required
        type="password"
        [class.invalid-password]="password.control.hasError('pattern')"
        [label]="content().common.passwordLabel"
        [pattern]="passwordPattern"
        [placeholder]="content().common.passwordPlaceholder"
        [(ngModel)]="user.password"
      >
        @switch (true) {
          @case (password.control.hasError("required")) {
            <ng-container>{{ content().common.passwordErrorRequiredText }}</ng-container>
          }
          @case (password.control.hasError("pattern")) {
            <ng-container>{{ content().common.passwordPatternText }}</ng-container>
          }
        }
      </omni-auth-ui-mat-input>
      <omni-auth-ui-mat-print-error source="confirmForgotPassword" [content]="content()"/>
    </div>

    <div class="auth-form-footer">
      <omni-auth-ui-mat-button
        buttonType="submit"
        type="primary"
        [disabled]="!!sendCode.invalid"
        [loading]="processing()"
      >{{ content().resetPassword.submitLabel }}
      </omni-auth-ui-mat-button>
    </div>
  </form>
}
