<div class="auth-form-container">
  @if (authService.authState.isLoading()) {
    <omni-auth-ui-mat-loader [verticalCenter]="true"/>
  }

  @if (authService.authState.value(); as user) {
    @switch (user.state) {
      @case ('authenticated') {
        <omni-auth-ui-mat-authenticated [content]="content()"/>
      }
      @case ('error') {
        <omni-auth-ui-mat-message type="warn">
          {{ user.error?.getErrorMessage() ?? content().errors.unknown }}
        </omni-auth-ui-mat-message>

        <div class="message-footer">
          <omni-auth-ui-mat-button type="primary" (click)="authService.signOut()">Logout</omni-auth-ui-mat-button>
        </div>
      }
      @case ('unauthenticated') {
        @if (authRouteService.currentStep(); as currentStep) {
          @if (["login", "register"].includes(currentStep)) {
            <mat-tab-group
              selectedIndex="{{ currentStep === 'login' ? 0 : 1 }}"
            >
              <mat-tab [label]="content().signIn.title">
                <ng-template matTabContent>
                  <omni-auth-ui-mat-signin [content]="content()"/>
                </ng-template>
              </mat-tab>

              <mat-tab [label]="content().signUp.title">
                <omni-auth-ui-mat-signup [config]="config()?.signUp" [content]="content()">
                  <ng-content sign-up-footer select="[sign-up-footer]"/>
                </omni-auth-ui-mat-signup>
              </mat-tab>
            </mat-tab-group>
          }

          @if (currentStep === "confirm_sign_up") {
            <omni-auth-ui-mat-confirm-signup [content]="content()"/>
          }

          @if (["reset_password", "confirm_reset_password"].includes(currentStep)) {
            <omni-auth-ui-mat-reset-password [content]="content()"/>
          }
        }
      }
    }
  }
</div>
