.brand-title-ngx {
  font-family: var(--ng-doc-font-family);
  font-weight: 400;
}

.brand-title-omni-auth {
  font-family: var(--ng-doc-heading-font-family);
  font-weight: 700;
}

.header-controls {
  display: flex;
  margin-left: calc(var(--ng-doc-base-gutter) * 2);
  gap: calc(var(--ng-doc-base-gutter) * 2);
}

@media screen and (max-width: 600px) {
  .header-controls {
    gap: calc(var(--ng-doc-base-gutter));
  }
}
