<form #registerForm="ngForm" class="auth-form" (ngSubmit)="onSubmit()">
  <div class="auth-form-body">
    <omni-auth-ui-mat-input
      #identifier="ngModel"
      maxlength="255"
      minlength="3"
      name="identifier"
      required
      type="text"
      [label]="content().common.identifierLabel"
      [ngModel]="authRoute.currentIdentifier()"
      [pattern]="identifierPattern"
      [placeholder]="content().common.identifierPlaceholder"
      (ngModelChange)="updateUserIdentifier($event)"
    >
      <ng-container>
        @switch (true) {
          @case (identifier.control.hasError("required")) {
            <ng-container>{{ content().common.identifierErrorRequiredText }}</ng-container>
          }
          @case (identifier.control.hasError("pattern")) {
            <ng-container>{{ content().common.identifierErrorPatternText }}</ng-container>
          }
          @case (identifier.control.hasError("minLength")) {
            <ng-container>{{ content().common.identifierErrorMinLengthText }}</ng-container>
          }
          @case (identifier.control.hasError("maxlength")) {
            <ng-container>{{ content().common.identifierErrorMaxLengthText }}</ng-container>
          }
        }
      </ng-container>
    </omni-auth-ui-mat-input>

    @if (config()?.fullName?.enabled) {
      <omni-auth-ui-mat-input
        #name="ngModel"
        maxlength="255"
        minlength="2"
        name="fullName"
        required
        type="text"
        [label]="content().common.fullNameLabel"
        [placeholder]="content().common.fullNamePlaceholder"
        [(ngModel)]="user.fullName"
      >
        @switch (true) {
          @case (name.control.hasError("required")) {
            <ng-container>{{ content().common.fullNameErrorRequiredText }}</ng-container>
          }
          @case (name.control.hasError("minLength")) {
            <ng-container>{{ content().common.fullNameErrorMinLengthText }}</ng-container>
          }
          @case (name.control.hasError("maxlength")) {
            <ng-container>{{ content().common.fullNameErrorMaxLengthText }}</ng-container>
          }
        }
      </omni-auth-ui-mat-input>
    }

    <omni-auth-ui-mat-input
      #password="ngModel"
      name="password"
      required
      type="password"
      [class.invalid-password]="password.control.hasError('pattern')"
      [label]="content().common.passwordLabel"
      [pattern]="passwordPattern"
      [placeholder]="content().common.passwordPlaceholder"
      [(ngModel)]="user.password"
    >
      @switch (true) {
        @case (password.control.hasError("required")) {
          <ng-container>{{ content().common.passwordErrorRequiredText }}</ng-container>
        }
        @case (password.control.hasError("pattern")) {
          <ng-container>{{ content().common.passwordPatternText }}</ng-container>
        }
      }
    </omni-auth-ui-mat-input>

    @for (attribute of config()?.additionalAttributes; track attribute.key) {
      <mat-checkbox
        class="additional-attribute-checkbox"
        [name]="attribute.key"
        [ngModel]="user.customAttributes[attribute.key]"
        [required]="attribute.isRequired"
        (ngModelChange)="updateUserAttribute(attribute.key, $event)">
        {{ attribute.label }}
      </mat-checkbox>
    }

    <ng-content select="[sign-up-footer]"/>
    <omni-auth-ui-mat-print-error source="signUp" [content]="content()"/>
  </div>
  <div class="auth-form-footer">
    <omni-auth-ui-mat-button
      buttonType="submit"
      type="primary"
      [disabled]="!!registerForm.invalid"
      [loading]="processing()"
    >{{ content().signUp.submitLabel }}
    </omni-auth-ui-mat-button>
  </div>
</form>
