<form #registerForm="ngForm" class="auth-form" (ngSubmit)="onSubmit()">
  <div class="auth-form-body">
    <omni-auth-ui-mat-input
      #identifier="ngModel"
      maxlength="255"
      minlength="3"
      name="identifier"
      required
      type="text"
      [label]="content().common.identifierLabel"
      [ngModel]="authRoute.currentIdentifier()"
      [pattern]="identifierPattern"
      [placeholder]="content().common.identifierPlaceholder"
      (ngModelChange)="updateUserIdentifier($event)"
    >
      <ng-container>
        @switch (true) {
          @case (identifier.control.hasError("required")) {
            <ng-container>{{ content().common.identifierErrorRequiredText }}</ng-container>
          }
          @case (identifier.control.hasError("pattern")) {
            <ng-container>{{ content().common.identifierErrorPatternText }}</ng-container>
          }
          @case (identifier.control.hasError("minlength")) {
            <ng-container>{{ content().common.identifierErrorMinLengthText }}</ng-container>
          }
          @case (identifier.control.hasError("maxlength")) {
            <ng-container>{{ content().common.identifierErrorMaxLengthText }}</ng-container>
          }
        }
      </ng-container>
    </omni-auth-ui-mat-input>

    <omni-auth-ui-mat-input
      #password="ngModel"
      name="password"
      required
      type="password"
      [class.invalid-password]="password.control.hasError('pattern')"
      [label]="content().common.passwordLabel"
      [pattern]="passwordPattern"
      [placeholder]="content().common.passwordPlaceholder"
      [(ngModel)]="user.password"
    >
      @switch (true) {
        @case (password.control.hasError("required")) {
          <ng-container>{{ content().common.passwordErrorRequiredText }}</ng-container>
        }
        @case (password.control.hasError("pattern")) {
          <ng-container>{{ content().common.passwordPatternText }}</ng-container>
        }
      }
    </omni-auth-ui-mat-input>

    @for (attribute of config()?.attributes; track attribute.key) {
      @switch (true) {
        @case (attribute.type === 'checkbox') {
          <div>
            <mat-checkbox
              #attributeInput="ngModel"
              class="additional-attribute-checkbox"
              [name]="attribute.key"
              [ngModel]="user.customAttributes[attribute.key]"
              [required]="attribute.validation.isRequired"
              (ngModelChange)="updateUserAttribute(attribute.key, $event)">
              {{ attribute.content.label }}
            </mat-checkbox>
            @switch (true) {
              @case (attributeInput.hasError("required") && attributeInput.touched) {
                <span class="auth-form-custom-error">{{ attribute.content.requiredText }}</span>
              }
            }
          </div>

        }
        @case (attribute.type === 'phone' || attribute.type === 'email') {
          <omni-auth-ui-mat-input
            #attributeInput="ngModel"
            [label]="attribute.content.label"
            [maxlength]="attribute.validation.maxLength ?? 255"
            [minlength]="attribute.validation.minLength ?? 0"
            [name]="attribute.key"
            [ngModel]="user.customAttributes[attribute.key]"
            [pattern]="attribute.validation.pattern ?? (attribute.type === 'phone' ? phonePattern : emailPattern)"
            [placeholder]="attribute.content.placeholder"
            [required]="attribute.validation.isRequired"
            [type]="attribute.type | mapToNativeType"
            (ngModelChange)="updateUserAttribute(attribute.key, $event)"
          >

            @switch (true) {
              @case (attributeInput.hasError("required")) {
                <ng-container>{{ attribute.content.requiredText }}</ng-container>
              }
              @case (attributeInput.hasError("minlength")) {
                <ng-container>{{ attribute.content.minLengthText }}</ng-container>
              }
              @case (attributeInput.hasError("maxlength")) {
                <ng-container>{{ attribute.content.maxLengthText }}</ng-container>
              }
              @case (attributeInput.hasError("pattern")) {
                <ng-container>{{ attribute.content.patternText }}</ng-container>
              }
            }
          </omni-auth-ui-mat-input>
        }
        @case (attribute.type === 'text') {
          <omni-auth-ui-mat-input
            #attributeInput="ngModel"
            [label]="attribute.content.label"
            [maxlength]="attribute.validation.maxLength ?? 0"
            [minlength]="attribute.validation.minLength ?? 0"
            [name]="attribute.key"
            [ngModel]="user.customAttributes[attribute.key]"
            [pattern]="attribute.validation.pattern ?? ''"
            [placeholder]="attribute.content.placeholder"
            [required]="attribute.validation.isRequired"
            [type]="attribute.type | mapToNativeType"
            (ngModelChange)="updateUserAttribute(attribute.key, $event)"
          >
            @switch (true) {
              @case (attributeInput.hasError("required")) {
                <ng-container>{{ attribute.content.requiredText }}</ng-container>
              }
              @case (attributeInput.hasError("minlength")) {
                <ng-container>{{ attribute.content.minLengthText }}</ng-container>
              }
              @case (attributeInput.hasError("maxlength")) {
                <ng-container>{{ attribute.content.maxLengthText }}</ng-container>
              }
              @case (attributeInput.hasError("pattern")) {
                <ng-container>{{ attribute.content.patternText }}</ng-container>
              }
            }
          </omni-auth-ui-mat-input>
        }
      }
    }

    <ng-content select="[sign-up-footer]"/>
    <omni-auth-ui-mat-print-error source="signUp" [content]="content()"/>
  </div>
  <div class="auth-form-footer">
    <omni-auth-ui-mat-button
      buttonType="submit"
      type="primary"
      [disabled]="!!registerForm.invalid"
      [loading]="processing()"
    >{{ content().signUp.submitLabel }}
    </omni-auth-ui-mat-button>
  </div>
</form>
