<form #registerForm="ngForm" class="auth-form" (ngSubmit)="onSubmit()">
  <div class="auth-form-body">
    <omni-auth-ui-mat-input
      #identifier="ngModel"
      name="identifier"
      required
      type="text"
      [label]="content().common.identifierLabel"
      [ngModel]="currentIdentifier()"
      [pattern]="identifierPattern"
      [placeholder]="content().common.identifierPlaceholder"
      (ngModelChange)="user.identifier = $event"
    >
      @switch (true) {
        @case (identifier.control.hasError("required")) {
          <ng-container>{{ content().common.identifierErrorRequiredText }}</ng-container>
        }
        @case (identifier.control.hasError("pattern")) {
          <ng-container>{{ content().common.identifierErrorPatternText }}</ng-container>
        }
      }
    </omni-auth-ui-mat-input>
    <omni-auth-ui-mat-input
      #password="ngModel"
      name="password"
      required
      type="password"
      [class.invalid-password]="password.control.hasError('pattern')"
      [label]="content().common.passwordLabel"
      [pattern]="passwordPattern"
      [placeholder]="content().common.passwordPlaceholder"
      [(ngModel)]="user.password"
    >
      @switch (true) {
        @case (password.control.hasError("required")) {
          <ng-container>{{ content().common.passwordErrorRequiredText }}</ng-container>
        }
        @case (password.control.hasError("pattern")) {
          <ng-container>{{ content().common.passwordPatternText }}</ng-container>
        }
        @case (password.control.hasError("minlength")) {
          <ng-container>{{ content().common.passwordErrorMinLengthText }}</ng-container>
        }
      }
    </omni-auth-ui-mat-input>
    <p>
      <a
        class="link"
        tabindex="0"
        target="_blank"
        (click)="navigateToReset()"
        (keyup)="navigateToReset()"
      >
        {{ content().signIn.forgetPassword }}
      </a>
    </p>
    <omni-auth-ui-mat-print-error source="signIn" [content]="content()"/>
  </div>
  <div class="auth-form-footer">
    <omni-auth-ui-mat-button
      buttonType="submit"
      type="primary"
      [disabled]="!!registerForm.invalid"
      [loading]="processing()"
    >{{ content().signIn.submitLabel }}
    </omni-auth-ui-mat-button>
  </div>

  @if (config()?.signInProviders; as signInProviders) {
    <div class="auth-form-social">
      <omni-auth-ui-mat-social-buttons
        [content]="content()"
        [signInProviders]="signInProviders"
      />
    </div>
  }
</form>
