.message-outer {
  color: var(--auth-message-color, var(--mat-sys-on-primary-container));
  background: var(--auth-message-background, var(--mat-sys-primary-container));
  box-shadow: var(--auth-message-box-shadow, var(--mat-sys-shadow));
  border-radius: var(--auth-message-border-radius-message, 4px);

  .message-inner {
    border-radius: var(--auth-message-border-radius-message, 4px);
    display: flex;
    align-items: center;
    padding: 0.6em 0.8rem;
    border: 1px solid transparent;
    gap: var(--auth-horizontal-gap, 8px);
    box-shadow: var(--mat-sys-level1);

    .message-content {
      display: flex;
      flex-direction: column;
      gap: var(--auth-horizontal-gap, 8px);
      width: 100%;
    }

    .icon {
      flex-shrink: 0;
    }

    &.warn {
      color: var(--mat-sys-on-error-container);
      background: var(--mat-sys-error-container);

      --mdc-linear-progress-active-indicator-color: var(--mat-sys-on-error-container);
      --mdc-linear-progress-track-color: rgba(255, 255, 255, 0.71);
      --mat-icon-color: var(--mat-sys-on-error-container);

      .icon {
        color: var(--mat-sys-on-error-container);
      }
    }

    &.info {
      color: var(--on-info);
      background: var(--info-container);

      --mdc-linear-progress-active-indicator-color: var(--on-info);
      --mat-icon-color: var(--on-info);
      --mdc-linear-progress-track-color: rgba(255, 255, 255, 0.71);

      .icon {
        color: var(--on-info);
      }
    }
  }
}
